# 实例文件 环境配置实例

VITE_APP_TITLE = 'xx环境'

# 使用相对路径，触发 Vite 代理
VITE_API_BASE_URL = '/api'
# 代理前缀
VITE_API_PROXY_PREFIX = '/api'

# 功能开关（环境是否调试）
VITE_ENABLE_DEBUG = true
VITE_ENABLE_MOCK = true

# 密码秘钥
VITE_ENCRYPT_SECRET_KEY = ''