@font-face {
  font-family: "iconfont";
  src:
    url("@/assets/iconfont/iconfont.woff2?t=1769262407709") format("woff2"),
    url("@/assets/iconfont/iconfont.woff?t=1769262407709") format("woff"),
    url("@/assets/iconfont/iconfont.ttf?t=1769262407709") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haibao:before {
  content: "\e620";
}

.icon-chuangzuo:before {
  content: "\e672";
}

.icon-wazi:before {
  content: "\e635";
}

.icon-erhuan:before {
  content: "\e61e";
}

.icon-shoulian:before {
  content: "\e7c0";
}

.icon-yaodai:before {
  content: "\e61d";
}

.icon-mojing:before {
  content: "\e7ff";
}

.icon-fushi:before {
  content: "\e61c";
}

.icon-zuzhi:before {
  content: "\e61b";
}

.icon-bianji:before {
  content: "\e619";
}

.icon-weihufenlei:before {
  content: "\e711";
}

.icon-jian:before {
  content: "\e618";
}

.icon-cankaowenjian:before {
  content: "\e634";
}

.icon-shangchuan:before {
  content: "\e63e";
}

.icon-lianyiqun:before {
  content: "\e79b";
}

.icon-join:before {
  content: "\e9ec";
}

.icon-move:before {
  content: "\e882";
}

.icon-new:before {
  content: "\e673";
}

.icon-canzhao:before {
  content: "\e617";
}

.icon-shizhong:before {
  content: "\e768";
}

.icon-forwardo:before {
  content: "\e736";
}

.icon-tishiicon_fanhui:before {
  content: "\e63f";
}

.icon-weijin:before {
  content: "\e791";
}

.icon-lanzi:before {
  content: "\e61a";
}

.icon-Group:before {
  content: "\e631";
}

.icon-beijing:before {
  content: "\e616";
}

.icon-dozuo:before {
  content: "\e658";
}

.icon-kuzi-f:before {
  content: "\e6dc";
}

.icon-yifu-f:before {
  content: "\e6a1";
}

.icon-yifu:before {
  content: "\e630";
}

.icon-kuzi:before {
  content: "\e615";
}

.icon-koutu:before {
  content: "\e6c3";
}

.icon-P_REQUIRMENT:before {
  content: "\e614";
}

.icon-yidongtupian:before {
  content: "\e7ce";
}

.icon-a-fujianshangchuan1:before {
  content: "\e611";
}

.icon--_sucaiku:before {
  content: "\e610";
}

.icon-ico_uploadpic:before {
  content: "\e60f";
}

.icon-yigui:before {
  content: "\e633";
}

.icon-bushoucang:before {
  content: "\e60c";
}

.icon-shoucang:before {
  content: "\e60d";
}

.icon-gantanhao:before {
  content: "\e724";
}

.icon-mom:before {
  content: "\e664";
}

.icon-dad:before {
  content: "\eb2a";
}

.icon-neckline:before {
  content: "\e721";
}

.icon-lianjie2:before {
  content: "\e6ec";
}

.icon-mote-zhenren:before {
  content: "\e63d";
}

.icon-shuaxin:before {
  content: "\e60a";
}

.icon-gaoqing:before {
  content: "\e61f";
}

.icon-zidingyibeijingkuai:before {
  content: "\e7bc";
}

.icon-tubiao_fengge:before {
  content: "\e625";
}

.icon-zishi:before {
  content: "\e657";
}

.icon-xianglian:before {
  content: "\e603";
}

.icon-pixie:before {
  content: "\e604";
}

.icon-baobao:before {
  content: "\e605";
}

.icon-shangzhuang:before {
  content: "\e643";
}

.icon-xiazhuang:before {
  content: "\e728";
}

.icon-maozi-1:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e63a";
}

.icon-gouxuan:before {
  content: "\e785";
}

.icon-yuanbao:before {
  content: "\e62f";
}

.icon-tishi:before {
  content: "\e72b";
}

.icon-xiazai:before {
  content: "\e639";
}

.icon-top:before {
  content: "\e609";
}

.icon-sijiaoxing:before {
  content: "\e60e";
}

.icon-shangxiajiantou:before {
  content: "\e607";
}

.icon-xiajiantou1:before {
  content: "\e602";
}

.icon-a-rishituxin:before {
  content: "\e608";
}

.icon-fuzhi:before {
  content: "\e6f8";
}

.icon-jia:before {
  content: "\e659";
}

.icon-a-KeyLine42:before {
  content: "\e60b";
}

.icon-tianjiatupian_huaban:before {
  content: "\e62d";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-fuxuankuangxuanzhong:before {
  content: "\e640";
}

.icon-fuxuankuang_weixuanzhong:before {
  content: "\e6d1";
}

.icon-tuichu:before {
  content: "\e612";
}

.icon-xiangxishitu:before {
  content: "\e66b";
}

.icon-cachu:before {
  content: "\e7ea";
}

.icon-taiyang:before {
  content: "\e62e";
}

.icon-moonyueliang:before {
  content: "\e6dd";
}

.icon-tushengtu:before {
  content: "\e757";
}

.icon-wenshengshipin:before {
  content: "\e62c";
}

.icon-caidanlan:before {
  content: "\e613";
}
